<p id="notice"><%= notice %></p>
<div class="card my_p_wrapper">
  <div class="card-header">
    <h2 class="card-title d-flex justify-content-between mb-2">
      <span>All Orders</span>
    </h2>
  </div>
  <%= render "data" %>
</div>
