<div class="card wrapper" style="margin-top: 3%">
  <div class="card-header">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span>New Product</span>
    </h2>
  </div>
  <div class="card-body">
    <%= render 'form', product: @product%>
  </div>
</div>